# ===== Database =====
DB_HOST=postgres
DB_PORT=5432
DB_NAME=neurade
DB_USERNAME=postgres
DB_PASSWORD=your_db_password

# ===== MinIO =====
MINIO_HOST=your_minio_host
MINIO_PORT=9010
MINIO_ACCESS=your_minio_access_key
MINIO_SECRET=your_minio_secret_key
MINIO_BUCKET_PFP=neurade-pfp
MINIO_BUCKET_CHAT=neurade-chat
MINIO_BUCKET_ASSIGNMENT=neurade-assignment

# ===== Redis =====
REDIS_HOST=redis
REDIS_PORT=6379

# ===== LLM =====
LLM_PROVIDER=GEMINI
LLM_API_KEY=your_llm_api_key
LLM_MODEL=gemini-2.5-flash
LLM_VALIDATE_ENDPOINT=http://your-host:port/api/v1/validate-key
LLM_QA_ENDPOINT=http://your-host:port/workflow
LLM_ASSIGNMENT_OCR_ENDPOINT=http://your-host:port/extract
LLM_TOP_K=5

# ===== JWT =====
JWT_SECRET_KEY=your_jwt_secret_key
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

# ===== JPA (optional override) =====
JPA_DDL_AUTO=validate
JPA_SHOW_SQL=false
JPA_FORMAT_SQL=true

# ===== DOCKER PORT =====
SERVER_HOST_PORT=8836

# ===== ADDITIONAL SETTINGS =====
CSV_FILE=/docker-entrypoint-initdb.d/data.csv
